[user]
	email = m.furudate222@gmail.com
	name = Furu222
[core]
	editor = vim
	quotepath = false
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
    default = simple
[github]
	user = Furu222
[credential]
	helper = osxkeychain
